{% extends "resto/skeleton.html" %}
{% load static %}
{% load resto_extra %}
{% block slides %}
    <ul class="slides-container">
        {% for banner in banners %}
        <li class="text-center">
            <img src="/media/{{ banner }}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> {{ site_details.site_name }}</strong></h1>
                        <p class="m-b-40">{{ site_details.site_info }}</p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>

{% endblock slides%}

{% block about %}
   <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="{% static 'resto/images/about-img.jpg'%}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <div class="inner-column">
                <h1>Welcome To <span> {{ site_details.site_name }} </span></h1>
                <h4>Little Story</h4>
                <p>{{ about_details.about }}</p>
                <p>{{ about_details.about_description }}</p>
                <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>
            </div>
        </div>
    </div>
{% endblock about %}

{% block menu_type %}
    <div class="special-menu text-center">
        <div class="button-group filter-button-group">
            <button class="active" data-filter="*">All</button>
            {% for type in menu_type %}
                <button data-filter=".{{ type|resto_scrub }}">{{ type }}</button>
            {% endfor %}
        </div>
    </div>
{% endblock menu_type %}

{% block menus %}
{% for menu in menus %}
    <div class="col-lg-4 col-md-6 special-grid {{ menu.menu_type|resto_scrub }} ">
            <div class="gallery-single fix">
                <img src="/media/{{ menu.menu_photo }}" class="img-fluid" alt="Image">
                <div class="why-text">
                    <h4>{{ menu.menu_name }}</h4>
                    <p>{{ menu.menu_description }}</p>
                    <h5>{{ menu.menu_price }}</h5>
                </div>
            </div>
    </div>
{% endfor %}
{% endblock menus %}

{% block gallery %}
    <div class="tz-gallery">
        <div class="row">
            {% for img in gallery %}
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a class="lightbox" href="/media/{{ img.image_path }}">
                    <img class="img-fluid" src="/media/{{ img.image_path }}" alt="Gallery Images">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock gallery %}