{% extends "resto/skeleton.html" %}
{% load static %}
{% load resto_extra %}

{% block slides %}
<div id="slides" class="cover-slides">
    <ul class="slides-container">
        {% for banner in banners %}
        <li class="text-center">
            <img src="/media/{{ banner }}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> {{ site_details.site_name }}</strong></h1>
                        <p class="m-b-40">{{ site_details.site_info }}</p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
{% endblock slides%}

{% block about %}
<div class="about-section-box">
    <div class="container">
       <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/media/{{ site_details.site_logo }}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Welcome To <span> {{ site_details.site_name }} </span></h1>
                    <h4>Little Story</h4>
                    <p>{{ about_details.about }}</p>
                    <p>{{ about_details.about_description }}</p>
                    <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock about %}

{% block menus %}
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Special Menu</h2>
						<p>Below are our interesting menu items</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            {% for type in menu_type %}
                                <button data-filter=".{{ type|resto_scrub }}">{{ type }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
			</div>
            <div class="row special-list">
                {% for menu in menus %}
                <div class="col-lg-4 col-md-6 special-grid {{ menu.menu_type|resto_scrub }} ">
                    <div class="gallery-single fix">
                        <img src="/media/{{ menu.menu_photo }}" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>{{ menu.menu_name }}</h4>
                            <h5>{{ menu.menu_price }}</h5>
                            <p>{{ menu.menu_description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
			</div>
		</div>
	</div>
{% endblock menus %}

{% block gallery %}
<div class="gallery-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Gallery</h2>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">
                {% for img in gallery %}
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="/media/{{ img.image_path }}">
                        <img class="img-fluid" src="/media/{{ img.image_path }}" alt="Gallery Images">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock gallery %}

{% block customer_reviews %}
<div class="customer-reviews-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Customer Reviews</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <div id="reviews" class="carousel slide" data-ride="carousel">
                         <div class="carousel-inner mt-4">
                             {% for cust in customer_review %}
                                 <div class="carousel-item text-center {% if forloop.counter == 1 %} active {% endif %}">
                                    <div class="img-box p-1 border rounded-circle m-auto">
                                        <img class="d-block w-100 rounded-circle" src="/media/{{ cust.customer_profile }}" alt="">
                                    </div>
                                    <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">{{ cust.customer_name }}</strong></h5>
                                    <p class="m-0 pt-3">{{ cust.customer_review }}</p>
                                </div>
                             {% endfor %}
                         </div>
                        <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock customer_reviews %}