{% extends "resto/skeleton.html" %}
{% load static %}
{% load resto_extra %}
{% block slides %}
    <ul class="slides-container">
        {% for banner in banners %}
        <li class="text-center">
            <img src="/media/{{ banner }}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> {{ site_details.site_name }}</strong></h1>
                        <p class="m-b-40">{{ site_details.site_info }}</p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>

{% endblock slides%}

{% block about %}
   <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="/media/{{ site_details.site_logo }}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <div class="inner-column">
                <h1>Welcome To <span> {{ site_details.site_name }} </span></h1>
                <h4>Little Story</h4>
                <p>{{ about_details.about }}</p>
                <p>{{ about_details.about_description }}</p>
                <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>
            </div>
        </div>
    </div>
{% endblock about %}

{% block menu_type %}
    <div class="special-menu text-center">
        <div class="button-group filter-button-group">
            <button class="active" data-filter="*">All</button>
            {% for type in menu_type %}
                <button data-filter=".{{ type|resto_scrub }}">{{ type }}</button>
            {% endfor %}
        </div>
    </div>
{% endblock menu_type %}

{% block menus %}
{% for menu in menus %}
    <div class="col-lg-4 col-md-6 special-grid {{ menu.menu_type|resto_scrub }} ">
            <div class="gallery-single fix">
                <img src="/media/{{ menu.menu_photo }}" class="img-fluid" alt="Image">
                <div class="why-text">
                    <h4>{{ menu.menu_name }}</h4>
                    <p>{{ menu.menu_description }}</p>
                    <h5>{{ menu.menu_price }}</h5>
                </div>
            </div>
    </div>
{% endfor %}
{% endblock menus %}

{% block gallery %}
    <div class="tz-gallery">
        <div class="row">
            {% for img in gallery %}
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a class="lightbox" href="/media/{{ img.image_path }}">
                    <img class="img-fluid" src="/media/{{ img.image_path }}" alt="Gallery Images">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock gallery %}

{% block customer_reviews %}
     <div class="carousel-inner mt-4">
         {% for cust in customer_review %}
             <div class="carousel-item text-center {% if forloop.counter == 1 %} active {% endif %}">
                <div class="img-box p-1 border rounded-circle m-auto">
                    <img class="d-block w-100 rounded-circle" src="/media/{{ cust.customer_profile }}" alt="">
                </div>
                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">{{ cust.customer_name }}</strong></h5>
                <p class="m-0 pt-3">{{ cust.customer_review }}</p>
            </div>
         {% endfor %}
     </div>
{% endblock customer_reviews %}

{% block contact_info %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>Phone</h4>
                    <p class="lead">
                       {{ phone }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">
                        {{ email }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="overflow-hidden">
                    <h4>Location</h4>
                    <p class="lead">
                        {{ city }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock contact_info %}

{% block about_details %}
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h3>About Us</h3>
            <p>{{ about_details.about_description }}</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3>Contact information</h3>
            <p class="lead">{{ city }}</p>
            <p class="lead"><a href="#">{{ phone }}</a></p>
            <p><a href="#"> {{ email }} </a></p>
        </div>
        <div class="col-lg-4 col-md-4">
            <ul class="list-inline f-social">
                <li class="list-inline-item"><a href="{{ social.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="{{ social.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="{{ social.linkdin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="{{ social.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
{% endblock about_details %}