{% load static %}
{% load resto_extra %}
<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Site Metas -->
    <title>Yamifood Restaurant - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'resto/images/favicon.ico' %} "  type="image/x-icon ">
    <link rel="apple-touch-icon" href="{% static 'resto/images/apple-touch-icon.png' %} ">

    <link rel="stylesheet" href="{% static 'resto/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'resto/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'resto/css/responsive.css' %} ">
    <link rel="stylesheet" href="{% static 'resto/css/custom.css' %} ">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="/media/{{ site_details.site_logo }} " alt="" width="100px" height="100px"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars-rs-food">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="menu.html">Menu</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item dropdown">
                <li class="nav-item"><a class="nav-link" href="reservation.html">Reservation</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
{% block slides %}
{% endblock slides %}

{% block about %}
{% endblock about %}

<div class="qt-box qt-background">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto text-left">
				<p class="lead ">
					" If you're not the one cooking, stay out of the way and compliment the chef. "
				</p>
			</div>
		</div>
	</div>
</div>
	{% block menu_type %}
	{% endblock menu_type %}

	{% block menus %}
	{% endblock menus %}

	{% block gallery %}
	{% endblock gallery %}

	{% block customer_reviews %}
	{% endblock customer_reviews %}

<div class="contact-imfo-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>Phone</h4>
                    <p class="lead">
                       {{ phone }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">
                        {{ email }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="overflow-hidden">
                    <h4>Location</h4>
                    <p class="lead">
                        {{ city }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<h3>About Us</h3>
					<p>{{ about_details.about_description }}</p>
				</div>
				<div class="col-lg-4 col-md-4">
					<h3>Contact information</h3>
					<p class="lead">{{ city }}</p>
					<p class="lead"><a href="#">{{ phone }}</a></p>
					<p><a href="#"> {{ email }} </a></p>
				</div>
				<div class="col-lg-4 col-md-4">
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="{{ social.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="{{ social.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="{{ social.linkdin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="{{ social.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; {% now "Y" %} <a href="#">{{ site_details.site_name }}</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
	<!-- ALL JS FILES -->
	<script src="{% static 'resto/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'resto/js/popper.min.js' %}"></script>
	<script src="{% static 'resto/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'resto/js/jquery.superslides.min.js' %}"></script>
	<script src="{% static 'resto/js/images-loded.min.js' %}"></script>
	<script src="{% static 'resto/js/isotope.min.js' %}"></script>
	<script src="{% static 'resto/js/baguetteBox.min.js' %}"></script>
	<script src="{% static 'resto/js/form-validator.min.js' %}"></script>
    <script src="{% static 'resto/js/contact-form-script.js' %}"></script>
    <script src="{% static 'resto/js/custom.js' %}"></script>
</body>
</html>